body {
  background-color: #121212;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #121212;
}
#projects {
  background-color: #121212;
  color: white;
}
.pesani {
  background-color: #171717;
}
.puter {
  background-color: #262626;
  color: white;
}
.cardo {
  background-color: #262626;
}
section {
  padding-top: 5em;
}
#particles-js {
  background-color: #121212;
}
